{% macro button(text, type="button", icon=None, class=None, style="regular") %}
  {% if style == "regular" %}
  {% set style = "bg-amber-500 hover:bg-amber-400 focus:ring-amber-300 dark:focus:ring-amber-8001" %}
  {% endif %}
<button type="{{ type }}"
        class="text-white 
                focus:ring-4 focus:outline-none
                font-bold rounded-lg 
                hover:-translate-y-[1px] px-3 py-2.5 text-center
                transition {{ class }} {{ style }}"
        {{ caller is defined and caller() or '' }}
>
  <i class="fa-solid {{ icon }}"></i>
  {{ text }}
</button>
{% endmacro %}
